{% load static %}
<!DOCTYPE HTML>
 
 
<html lang="en">
   <head>
       <title>Phishing</title>
       <meta charset="utf-8" />
       <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
       <meta name="description" content="" />
       <meta name="keywords" content="" />
       <link rel="stylesheet" href="{% static 'assets/css/main.css' %}" />
        <style>
            div.inner {
                font-size: 18px;
            }
        </style>
   </head>
   <body class="is-preload">
 
       <!-- Header -->
           <header id="header">
               <a class="logo" href="index.html">JsGk</a>
               <nav>
                   <!-- <a href="#menu">Menu</a> -->
               </nav>
           </header>
 
       <!-- Nav -->
           <nav id="menu">
               <ul class="links">
                   <li><a href="index.html">Home</a></li>
                   <li><a href="elements.html">Elements</a></li>
                   <!-- <li><a href="generic.html">Generic</a></li> -->
               </ul>
           </nav>
 
       <!-- Banner -->
           <section id="banner">
               <div class="inner">
                   <h1>Phishing</h1>
                  
               </div>
               <video autoplay loop muted playsinline src="{% static 'images/frontend.mp4' %}"></video>
           </section>
 
       <!-- Highlights -->
           <section class="wrapper">
               <div class="inner">
                   <header class="special">
                       <h2>Phishing Databases</h2>
                       <p></p>
                   </header>
                   <div class="highlights">
                       <section>
                           <div class="content">
                               <header>
                                   <a href="/instagram" class="icon fa-instagram"><span class="label"></span></a>
                                   <h3>Instagram</h3>
                               </header>
                               <p>Instagram is an American photo and video sharing social networking service owned by Facebook, created by Kevin Systrom and Mike</p>
                           </div>
                       </section>
                       <section>
                           <div class="content">
                               <header>
                                   <a href="/facebook" class="icon fa-facebook"><span class="label"></span></a>
                                   <h3>Facebook</h3>
                               </header>
                               <p>Facebook is an American online social media and social networking service based in Menlo Park, California.</p>
                           </div>
                       </section>
                       <section>
                           <div class="content">
                               <header>
                                   <a href="/paypal" class="icon fa-paper-plane-o"><span class="label"></span></a>
                                   <h3>PayPal</h3>
                               </header>
                               <p>PayPal Holdings, Inc. is an American company operating a worldwide online payments system that supports online money transfers and serves as an electronic alternative to traditional paper methods like checks and money orders.</p>
                           </div>
                       </section>
                       <section>
                           <div class="content">
                               <header>
                                   <a href="database.html" class="icon fa-line-chart"><span class="label">Icon</span></a>
                                   <h3>Show databases</h3>
                               </header>
                               <p></p>
                           </div>
                       </section>
                       <section>
                           <div class="content">
                               <header>
                                <a href="search.html/" class="icon fa-search "><span class="label">Icon</span></a>
                                <h3>Search Acoounts</h3>
                               </header>
                          
                
                           </div>
                       </section>
                       <section>
                           <div class="content">
                               <header>
                                <a href="delete.html/">
                                    <h3>Delete Data</h3>
                                </a>
    
                               </header>
                           </div>
                       </section>
                   </div>
               </div>
           </section>
 
       <!-- CTA -->
           <section id="cta" class="wrapper">
               <div class="inner">
                   <h2>Phishing</h2>
                   <p>Phishing is the fraudulent attempt to obtain sensitive information or data, such as usernames, passwords and credit card details, by disguising oneself as a trustworthy entity in an electronic communication.</p>
               </div>
           </section>
 
       <!-- Testimonials -->
           <section class="wrapper">
               <div class="inner">
                   <header class="special">
                       <h2> The purpose of this project</h2>
                       <p>To educate people of the dangers of phishing and identity theft, and how exercising caution can keep you safe</p>
                   </header>
                   <div class="testimonials">
                       <section>
                           <div class="content">
                               <blockquote>
                                   <p>Some people think technology has the answers.</p>
                               </blockquote>
                               <div class="author">
                                   <div class="image">
                                       <img src="{% static 'images/pic02.jpg' %}" alt="" />
                                   </div>
                                   <p class="credit">- <strong>Kevin Mitnick</strong> <span>Ethical Hacker</span></p>
                               </div>
                           </div>
                       </section>
                       <section>
                           <div class="content">
                               <blockquote>
                                   <p>Hacking involves a different way of looking at problems that no one's thought of.</p>
                               </blockquote>
                               <div class="author">
                                   <div class="image">
                                       <img src="{% static 'images/pic03.jpg' %}" alt="" />
                                   </div>
                                   <p class="credit">- <strong>Walter O'Brien</strong> <span>Businessman and Information Technologist</span></p>
                               </div>
                           </div>
                       </section>
                       <section>
                           <div class="content">
                               <blockquote>
                                   <p>There are hundreds of thousands of cars that are vulnerable on the road right now.</p>
                               </blockquote>
                               <div class="author">
                                   <div class="image">
                                       <img src="images/pic02.jpg" alt="" />
                                   </div>
                                   <p class="credit">- <strong>Charlie Miller </strong> <span>Ethical Hacker</span></p>
                               </div>
                           </div>
                       </section>
                   </div>
               </div>
           </section>
 
       <!-- Footer -->
           <footer id="footer">
               <div class="inner">
                   <div class="content">
                       <section>
                           <h3>Hacking</h3>
                           <p>It is the science of determining the vulnerabilities of your information infrastructure to better defend against any potential threats.</p>
                           <p>While the definition of hacking mentioned here falls under the white hat hacker category, there are plenty of black hat or grey hat hackers who utilise these vulnerabilities to control the system for personal gain</p>
                       </section>
                       <section>
                           <h4>A project by</h4>
                           <ul class="alt">
                               <li><a href="#">Vaishnav Varma</a></li>
                               <li><a href="#">Jaikrishn Jayachandran</a></li>
                               <li><a href="#">Sree Madhav J</a></li>
                              
                           </ul>
                       </section>
                       <section>
                          
                       </section>
                   </div>
                   <div class="copyright">
                       <p>Issued in public interest</p>
                       &copy; An application by <a href="www.onion.jsgk/xesos" target="_blank">JsGK</a>.
                   </div>
               </div>
           </footer>
 
       <!-- Scripts -->
           <script src="{% static 'assets/js/jquery.min.js' %}"></script>
           <script src="{% static 'assets/js/browser.min.js' %}"></script>
           <script src="{% static 'assets/js/breakpoints.min.js' %}"></script>
           <script src="{% static 'assets/js/util.js' %}"></script>
           <script src="{% static 'assets/js/main.js' %}"></script>
 
   </body>
 
</html>
 

